/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 8px;

  grid-template-areas:
    "one one one one"
    "two three four four"
    "two five five six"
    "two seven eight nine"
    "two ten ten ten";
}


.box {
  background-color: green;
  color: white;
  font-size: 24px;
  padding: 20px;
}

#grid > div:nth-child(1)  { grid-area: one; }
#grid > div:nth-child(2)  { grid-area: two; }
#grid > div:nth-child(3)  { grid-area: three; }
#grid > div:nth-child(4)  { grid-area: four; }
#grid > div:nth-child(5)  { grid-area: five; }
#grid > div:nth-child(6)  { grid-area: six; }
#grid > div:nth-child(7)  { grid-area: seven; }
#grid > div:nth-child(8)  { grid-area: eight; }
#grid > div:nth-child(9)  { grid-area: nine; }
#grid > div:nth-child(10) { grid-area: ten; }

