/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;

  grid-template-areas:
    "one one one one"
    "two three four four"
    "two five five six"
    "two seven eight nine"
    "two ten ten ten";
}

.box {
  background-color: green;
  color: white;
  font-size: 24px;
  padding: 20px;
}

/* grid areas */
.box1  { grid-area: one; }
.box2  { grid-area: two; }
.box3  { grid-area: three; }
.box4  { grid-area: four; }
.box5  { grid-area: five; }
.box6  { grid-area: six; }
.box7  { grid-area: seven; }
.box8  { grid-area: eight; }
.box9  { grid-area: nine; }
.box10 { grid-area: ten; }
